p {
	display: contents;
}

img {
	border-radius: 15px;
}

figure {
	width: 100%;
	margin-top: 5px;
}
figure img {
	width: inherit;
}
.options {
	border-radius: 10px;
}
.options li {
	background-color: #343a40;
	color: white;
}
.options li a {
	color: white;
}

.links {
	color: blue;
	font-weight: 700;
}

.small-image {
	max-height: 100px;
}
