body {
	margin: 0;
	padding: 0;
	background-color: #FFD90F;
}

.navbar-brand img {
	height: 50px;
}

.wallpaper {
	height: 450px;
	background-image: url(../static/img/wallpaper.jpg);
	background-size: cover;
	background-position: center;
}
.title {
	display: flex;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.title span {
	-webkit-text-stroke: 2px black;
	font-size: 3rem;
	font-weight: 700;
	color: #FFD90F;
}


.api-link {
	/* color: black; */
	font-weight: 700;
}

.api-link p {
	color: blue;
	font-size: 1em;
	font-weight: 600;
}

hr {
	border-top: 1px solid rgba(0,0,0,.2);
}

#footer {
	background-color: #343a40;
}
#footer a {
	color:whitesmoke ;
}

a {
	cursor: pointer;
}