<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/general.css">
	<link rel="stylesheet" href="../static/about.css">
</head>
<body>
	<!-- header -->
	<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<div class="container">
			<!-- <img src="../static/img/logo1.png" alt="logo"> -->
			<a class="navbar-brand" onclick="handlerApi('')">
				<img src="../static/img/logo1.png" alt="logo">
			</a>
			<a class="navbar-brand" onclick="handlerApi('')">The simpsons Api</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" onclick="handlerApi('')">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" onclick="handlerApi('/about')">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" onclick="handlerApi('/documentation')">Documentation</a>
					</li>
				</ul>
			</div>
		</div>	
	</nav>
	<!-- fin header -->
	<div class="wallpaper container-fluid">
		<div class="title ">
			<span>The simpsons Api</span>
		</div>
	</div>
	<!-- main -->
	<main>
		<div class="container">
			<div class="row">
				<div class="col mt-3">
					<h3>Status</h3>
					<p class="server-status">Server status: </p>
					<span class="badge badge-success">Active</span>
					<ul>
						<li>
							<span class="badge badge-secondary">Characters</span>
							<p>== 100</p>
						</li>
						<li>
							<span class="badge badge-secondary">Episodes</span>
							<p>== 80</p>
						</li>
						<li>
							<span class="badge badge-secondary">Locations</span>
							<p>== 40</p>
						</li>
						<li>
							<span class="badge badge-secondary">Cities</span>
							<p>== 10</p>
						</li>
					</ul>
					<hr>
					<h3>What is this?</h3>
					<p>The simpsons Api is a service that icludes all the data in the simpsons universe.</p>
					<p>Most the people have seen the simpsons and really enjoy each chapter, doesn't matter if is the fourth or fifth time that you whatch it.
						Also we know there are a lot of companies, insitutions and programmers that test apps even web apps or local programms with data that they have to fill or request.
						For those reasons, we present to you all the Characters, Episodes, Locations and Cities of the simpsons Universe.
					</p>
					<p>We have formatted this data in JSON and exposed it to you with a RESTful app.</p>
					<a class="api-link" onclick="handlerApi('/documentation')"><p>Check out the documentation to get started consuming the simpsons data</p></a>
					<hr>
					<h3>What can I use this for?</h3>
					<p>Even if you are a company or just someone that recenty started to learn programming you all can use this api to test your apps or make and app that is related with 
						or needs this data for a long time you won't spend time making an Api or searching all the information about characters or other series, you are going to have all the information
						just with one consult of distance.
					</p>
					<hr>
					<h3>Who are you?</h3>
					<p>We are Sergio bustos, a guy who likes to develop anykind of app and Jair Ayala, the person in charge of maintain the "Simpsons Api" database updated.
						We both love the simpsons and whe know there are a lot of people that love them too.
					</p>
					<hr>
					<h3>Technical stuff?</h3>
					<p>We use Flask and sqlite to serve the API. All the data is formatted in JSON and the entire project is hosted on pythonanywhere.
						However in order to optimize the Api the images are located into a especial server for images.
					</p>
					<hr>
					<h3>How can i contribute to the project?</h3>
					<p>you can help us to keep the project alive with any donation or you can also contribute on Github.</p>
					<hr>
					<h3>Copyright?</h3>
					<p>The simpsons API was created by Sergio Bustos and Jair Ayala. The data and images are used without claim of ownership and belong to the respective ownership.</p>
					<p>This Api is open source and uses a MIT license.</p>
					<hr>
				</div>
			</div>
		</div>
	</main>
	<!-- fin main -->

<!-- footer -->
<footer id="footer" class="pb-4 pt-4">
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-lg">
				<a onclick="handlerApi('')">Home</a>
			</div>
			<div class="col-12 col-lg">
				<a onclick="handlerApi('/about')">About</a>
			</div>
			<div class="col-12 col-lg">
				<a onclick="handlerApi('/documentation')">Documentation</a>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
</body>
</html>